@charset "UTF-8";

body {
  transition: 0.5s ease-in-out;
  background-image: url("/img/bg/vla.jpg");
  background-color: #dbdbdb;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom center;
  background-attachment: fixed;
}

@media (max-width: 760px) {
  body {
    background-image: url("/img/bg/vla-480x160.jpg");
  }
}

@media (max-width: 420px) {
  body {
    background-image: url("/img/bg/vla-480x480.jpg");
  }
}
