@charset "UTF-8";

body {
  background-color: #dbdbdb;
}

#logo {
  background-image: url("/img/svg/logos/watersb.svg");
  background-repeat: no-repeat;
  opacity: 0.1;
  width:  30vw;
  height: 30vw;
  position: absolute;
  z-index: -1;
  top: 0%;
  right: 1vw;
}


#bg {
  background-image: url("/img/bg/vla.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom center;
  height: 100%;
  width: 100%;
  bottom: 0px;
  position: fixed;
  z-index: -1;
}


@media (max-width: 760px) {
  #bg {
    background-image: url("/img/bg/vla-480x90.jpg");
  }
}

@media (max-width: 420px) {
  #bg {
    background-image: url("/img/bg/vla-480x480.jpg");
  }
}
