body {
  font-family: var(--sans), sans-serif;
}

code,
pre,
kbd,
samp {
  font-family: var(--mono), monospace;
  font-size: 1em;
}


@media screen and (max-width: 420px) {
  :root {
	  font-size: 14px;
  }
}

:root {
  font-size: calc(3mm + 0.6vw);
  line-height: 1.575;
  -webkit-text-size-adjust: 115%;

  --serif:
    var(--apple-serif),
    var(--ms-serif),
    var(--free-serif), serif;

  --mono:
    var(--apple-mono),
    var(--ms-mono),
    var(--free-mono), monospace;

  --sans:
    var(--apple-sans),
    var(--ms-sans),
    var(--free-sans), sans-serif;




  --ms-serif:
    "Georgia Pro",
    "Sitka Text",
    "Georgia";

  --ms-sans:
    "Bahnschrift",
    "Verdana Pro",
    "Arial Nova";

  --ms-mono:
    "Consolas";

  /** Apple macOS and iOS **/

  --apple-serif:
    "Iowan Old Style",
    "Charter";

  --apple-sans:
    "Helvetica Neue",
    "Avenir Next";

  --apple-mono:
    "Menlo";

  /** Noto and Droid,
    in their many incarnations
    https://www.google.com/get/noto/

    "Currently,
    the Latin characters in the CJK fonts
     are from Adobe’s Source Sans Pro."
  **/

  --free-serif:
    "Open Serif",
    "Noto Serif",
    "Noto Serif CJK JP",
    "Droid Serif",
    "Roboto Slab",
    "Caladea",
    "Tinos";


  --free-sans:
    "Open Sans",
    "Noto Sans",
    "Noto Sans CJK JP",
    "Source Sans Pro",
    "Droid Sans",
    "Roboto",
    "Carlito",
    "Arimo";

  --free-mono:
    "Noto Sans Mono",
    "Noto Sans Mono CJK JP",
    "Droid Sans Mono",
    "Roboto Mono",
    "Cousine";

}
