@charset "UTF-8";

html {
  font-size: 17px;
  -webkit-text-size-adjust: 110%;
  font-size: calc(0.5em + 1.25vw);
  font-size: min(max(14px, (0.5em + 1.25vw)), 18px);

  --fontstack-serif:  "PT Serif", serif;
  --fontstack-sans:   "PT Sans", sans-serif;
  --fontstack-mono:   "PT Mono", monospace;
  --fontstack-slab: "Rockwell Nova", "Rockwell", var(--fontstack-mono);
  --fontstack-fig: system-ui, var(--fontstack-sans);
  --fontstack-sys: system-ui, sans-serif;

  font-feature-settings: "kern", "liga", "clig", "pnum";
  text-rendering: optimizeLegibility;

  --default-link: rgb(49, 49, 128);
  --visited-link: rgb(72, 51, 112);
  --glowing-link: drop-shadow(0 0 3px #fffe);

  box-sizing: border-box;
}

pre,
code,
kbd,
samp {
  font-family: var(--fontstack-mono);
  font-size: 1em;
}

figure {
  transition: 0.5s ease-in-out;
}

a {
  font-weight: 500;
  font-family: var(--fontstack-sans);
  color: var(--default-link);
  text-decoration-style: dotted;
  text-decoration-color: #ccc;
}

a:visited {
  color: var(--visited-link);
  text-decoration-color: #ccc;

}

a:hover {
  text-shadow: 0 0 8px rebeccapurple;
}

p {
  margin-bottom: 1.6em;
}

body {
  font-family: var(--fontstack-serif);
  margin-left: 2vw;
  background-color: #dadada;
}

body > footer {
  text-align: right;
  font-stretch: condensed;
  filter: var(--glowing-link);
}

body > header > h1 {
  margin-top: 0;
  margin-bottom: 0;
}
body > header * {
  filter: var(--glowing-link);
}
body > header > h1 * {
  filter: opacity(0.3);
}
body > header > h1 > span {
  display: inline;
  color: #0003;
  text-shadow: none;
  margin: -0.6em;
  font-size: 0.6em;
}

body > header > nav {
  display: none;
}

#license {
  margin-right: 0;
}

main {
  text-align: left;
  line-height: 1.5;
  background-color: #fffa;
  background: linear-gradient(#fff0, #ffff 30%, #ffff 90%, #fff0);
  color: #3c3c3c;
  counter-reset: sidenote-counter;
  padding: 2vw;
}

main article p,
blockquote,
cite {
  hanging-punctuation: first allow-end last;
  text-overflow: ellipsis;
}
main article p {
  hyphens: auto;
  letter-spacing: 0.0025em;
}

main article figure {
  font-family: var(--fontstack-fig);
  margin: 1vw;
  font-size: max(11px, 0.85em);
  line-height: 1.2em;
}

main article figure img {
  background: #fffd;
  box-shadow: #999 4px 4px 6px;
}

main article pre {
  background-color: #f3f3f3;
  border-radius: 6px;
  padding: 0.3em;
  overflow: auto;
  white-space: pre;
}

main > article > header {
  margin-bottom: 1em;
}

main > article > header * {
  margin: 0;
  filter: var(--glowing-link);
}

main > article > header h1 {
  font-size: 2em;
  margin-top: -0.4em;
}

main > article > header > time {
  font-variant: small-caps;
  color: #444;
}

main > article > header > div {
  opacity: 0.25;
}

main article figure {
  background-color: #f9f9f9aa;
  border-radius: 6px;
}

main article figure img {
  width: 85vw;
  margin: 6px;
}
main article figure figcaption {
  padding: 1vw;
  hyphens: auto;
}

figcaption details summary {
  font-variant: small-caps;
  list-style-type: "ℹ︎";
}
figcaption details summary::marker {
  content: "ℹ︎";
}
details[open] summary ~ * {
  animation: sweep 0.25s ease-in-out;
}
@keyframes sweep {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 480px) {
  main article figure img {
    width: 25vw;
  }

  main article figure {
    float: right;
    margin-left: 2vw;
    width: max-content;
    max-width: 30vw;
  }

  main article pre {
    font-size: max(12px, 0.75em);
  }
}

main article figure.thumb img {
  max-width: 64px;
}
main article figure figcaption {
  padding-top: 0;
}
main article figure figcaption * {
  margin: 2px 0;
}
main article figure figcaption h4 {
  font-weight: 400;
  font-variant: small-caps;
}
main article figure figcaption cite {
  font-style: normal;
  font-variant: small-caps;
}
main article figure figcaption cite a {
  font-weight: 400;
}

@media screen and (max-width: 400px) {
  main article figure {
    max-width: 90vw;
  }
  main article figure.thumb {
    float: right;
  }
}
