@charset "UTF-8";
@import url("/css/_main/google-font-adobesource.css");
/* TODO: Make the font import conditional. */

:root {
  font-size: 18px;
}

html {
  --fontstack-serif: "Iowan Old Style", "Georgia Pro", 'Source Serif Pro', serif;
  --fontstack-sans: "Avenir Next", "Arial Nova", 'Source Sans Pro', sans-serif;
  --fontstack-mono: "Menlo", 'Source Code Pro', monospace;

  font-feature-settings: "kern", "liga", "clig", "pnum";
  text-rendering: optimizeLegibility;

  --glowing-link: drop-shadow(0 0 3px #fffe);
}

body * {
  transition: 0.5s ease-in-out;
}

a {
  font-weight: 500;
  font-family: var(--fontstack-sans);
  color: rgb(49, 49, 128);
  text-decoration: none;
}

a:visited {
  color: rgb(72, 51, 112);
}

a:hover {
  text-shadow: 0 0 8px rebeccapurple;
}

p {
  margin-bottom: 1.6em;
}

body {
  font-family: var(--fontstack-sans);
  margin-left: 2vw;
  background: #dadada;
}

body>footer {
  text-align: right;
  font-stretch: condensed;
  filter: var(--glowing-link);
}

body>header * {
  margin: 0;
  filter: var(--glowing-link) opacity(0.7);
  color: #000a;
}

body>header>a:hover {
  filter: opacity(1);
}

#debug {
  float: right;
}

body>header>a>h1 span {
  display: inline;
  color: #0003;
  text-shadow: none;
  font-size: 0.6em;
  margin: -0.6em;
}

#license {
  margin-right: 0;
}

main {
  text-align: left;
  font-family: var(--fontstack-serif);
  line-height: 1.6;
  background-color: #fffa;
  background: linear-gradient(#fff0, #ffff 50%, #ffff 90%, #fff0);
  color: #222;
  counter-reset: sidenote-counter;
  padding: 2vw;
}

main article p, blockquote, cite {
  hanging-punctuation: first allow-end last;
  text-overflow: ellipsis;
}
main article p {
         hyphens: auto;
 -webkit-hyphens: auto;
}

main article figure {
  margin: 1vw;
  font-family: var(--fontstack-sans);
  font-size: 0.85em;
  line-height: 1.2em;
}

main article figure img {
  background: #fffd;
  box-shadow: #999 4px 4px 6px;
}

main article pre {
  background-color: #f3f3f3;
  border-radius: 6px;
  padding: 0.3em;
  overflow: auto;
  white-space: pre;
}

main>article>header{
  margin-bottom: 1em;
}

main>article>header * {
  margin: 0;
  filter: var(--glowing-link);
}

main>article>header h1 {
  font-size: 2em;
  margin-top: -0.4em;
}

main>article>header>time {
  font-variant: small-caps;
  color: #444;
}

main>article>header>div {
  opacity: 0.25;
}


main article figure {
  background-color: #f9f9f9aa;
  border-radius: 6px;
}

main article figure img {
    max-width: 85vw;
    margin: 6px;
}
main article figure figcaption {
  padding: 1vw;
  font-size: 1em;
  font-weight: 200;
  -webkit-hyphens: auto;
          hyphens: auto;
}

figcaption details summary {
  font-variant: small-caps;
}
details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}
@keyframes sweep {
  0%    {opacity: 0;}
  100%  {opacity: 1;}
}


@media (min-width: 480px) {
  main article figure img {
    width: 25vw;
  }

  main article figure figcaption {
    font-size: 0.8em;
    max-width: 25vw;
  }

  main article figure {
    float: right;
    margin-left: 2vw;
    width: max-content;
  }
  main article figure:nth-of-type(even) {
    float: left;
    margin-right: 2vw;
  }
  main article figure:nth-of-type(even) figcaption {
      text-align: right;
  }

  main article pre {
    font-size: 0.75em;
  }
}



main article figure figcaption details {
    display: none;
}

main article figure figcaption details[open],
main article figure:hover figcaption details {
    display: initial;
}


@media (any-pointer: coarse) {
    main article figure figcaption details {
	display: initial;
    }
}



main article figure img.thumb {
    width: initial;
}
