/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * source-code-pro-1:
 *   - http://typekit.com/eulas/0000000000000000000179d7
 *   - http://typekit.com/eulas/0000000000000000000179d5
 *   - http://typekit.com/eulas/0000000000000000000179cb
 *   - http://typekit.com/eulas/0000000000000000000179cd
 *   - http://typekit.com/eulas/0000000000000000000179cf
 *   - http://typekit.com/eulas/0000000000000000000179d3
 *   - http://typekit.com/eulas/0000000000000000000179d1
 *   - http://typekit.com/eulas/0000000000000000000179d8
 *   - http://typekit.com/eulas/0000000000000000000179d6
 *   - http://typekit.com/eulas/0000000000000000000179cc
 *   - http://typekit.com/eulas/0000000000000000000179d0
 *   - http://typekit.com/eulas/0000000000000000000179ce
 *   - http://typekit.com/eulas/0000000000000000000179d2
 *   - http://typekit.com/eulas/0000000000000000000179d4
 * source-sans-pro-1:
 *   - http://typekit.com/eulas/00000000000000003b9b3d63
 *   - http://typekit.com/eulas/00000000000000003b9b3d69
 *   - http://typekit.com/eulas/00000000000000003b9b3d67
 *   - http://typekit.com/eulas/00000000000000003b9b3d68
 *   - http://typekit.com/eulas/00000000000000003b9b3d64
 *   - http://typekit.com/eulas/00000000000000003b9b3d61
 *   - http://typekit.com/eulas/00000000000000003b9b3d62
 *   - http://typekit.com/eulas/00000000000000003b9b3d65
 *   - http://typekit.com/eulas/00000000000000003b9b3d66
 *   - http://typekit.com/eulas/00000000000000003b9b3d6a
 *   - http://typekit.com/eulas/00000000000000003b9b3d5f
 *   - http://typekit.com/eulas/00000000000000003b9b3d60
 * source-serif-pro-1:
 *   - http://typekit.com/eulas/00000000000000003b9b3d80
 *   - http://typekit.com/eulas/00000000000000003b9b3d84
 *   - http://typekit.com/eulas/00000000000000003b9b3d82
 *   - http://typekit.com/eulas/00000000000000003b9b3d7c
 *   - http://typekit.com/eulas/00000000000000003b9b3d7e
 *   - http://typekit.com/eulas/00000000000000003b9b3d86
 *   - http://typekit.com/eulas/00000000000000003b9b3d7d
 *   - http://typekit.com/eulas/00000000000000003b9b3d7f
 *   - http://typekit.com/eulas/00000000000000003b9b3d81
 *   - http://typekit.com/eulas/00000000000000003b9b3d83
 *   - http://typekit.com/eulas/00000000000000003b9b3d85
 *   - http://typekit.com/eulas/00000000000000003b9b3d87
 *
 * © 2009-2019 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2020-01-03 09:10:08 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=mek3vgm&ht=tk&f=17265.17266.17267.17268.17269.17270.17271.17272.17273.17274.17275.17276.17450.17451.17452.17453.17454.17455.18468.25774.25775.25776.25777.25778.25779.25780.22792.22793.22794.24316.24317.24318.40088.40089.40090.40091.40092.40093&a=287014&app=typekit&e=css");

@font-face {
font-family:"source-sans-pro-1";
src:url("https://use.typekit.net/af/61f808/00000000000000003b9b3d63/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/61f808/00000000000000003b9b3d63/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/61f808/00000000000000003b9b3d63/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:swap;font-style:normal;font-weight:400;
}

@font-face {
font-family:"source-sans-pro-1";
src:url("https://use.typekit.net/af/860e41/00000000000000003b9b3d69/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/860e41/00000000000000003b9b3d69/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/860e41/00000000000000003b9b3d69/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("opentype");
font-display:swap;font-style:normal;font-weight:900;
}

@font-face {
font-family:"source-sans-pro-1";
src:url("https://use.typekit.net/af/422d60/00000000000000003b9b3d67/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/422d60/00000000000000003b9b3d67/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/422d60/00000000000000003b9b3d67/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:swap;font-style:normal;font-weight:700;
}

@font-face {
font-family:"source-sans-pro-1";
src:url("https://use.typekit.net/af/9373a0/00000000000000003b9b3d68/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/9373a0/00000000000000003b9b3d68/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/9373a0/00000000000000003b9b3d68/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-display:swap;font-style:italic;font-weight:700;
}

@font-face {
font-family:"source-sans-pro-1";
src:url("https://use.typekit.net/af/ffb1e2/00000000000000003b9b3d64/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/ffb1e2/00000000000000003b9b3d64/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/ffb1e2/00000000000000003b9b3d64/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-display:swap;font-style:italic;font-weight:400;
}

@font-face {
font-family:"source-sans-pro-1";
src:url("https://use.typekit.net/af/b6c887/00000000000000003b9b3d61/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/b6c887/00000000000000003b9b3d61/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/b6c887/00000000000000003b9b3d61/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
font-display:swap;font-style:normal;font-weight:300;
}

@font-face {
font-family:"source-sans-pro-1";
src:url("https://use.typekit.net/af/524796/00000000000000003b9b3d62/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff2"),url("https://use.typekit.net/af/524796/00000000000000003b9b3d62/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff"),url("https://use.typekit.net/af/524796/00000000000000003b9b3d62/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("opentype");
font-display:swap;font-style:italic;font-weight:300;
}

@font-face {
font-family:"source-sans-pro-1";
src:url("https://use.typekit.net/af/348732/00000000000000003b9b3d65/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/348732/00000000000000003b9b3d65/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/348732/00000000000000003b9b3d65/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
font-display:swap;font-style:normal;font-weight:600;
}

@font-face {
font-family:"source-sans-pro-1";
src:url("https://use.typekit.net/af/31c386/00000000000000003b9b3d66/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff2"),url("https://use.typekit.net/af/31c386/00000000000000003b9b3d66/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff"),url("https://use.typekit.net/af/31c386/00000000000000003b9b3d66/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("opentype");
font-display:swap;font-style:italic;font-weight:600;
}

@font-face {
font-family:"source-sans-pro-1";
src:url("https://use.typekit.net/af/8b9a4a/00000000000000003b9b3d6a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("woff2"),url("https://use.typekit.net/af/8b9a4a/00000000000000003b9b3d6a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("woff"),url("https://use.typekit.net/af/8b9a4a/00000000000000003b9b3d6a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("opentype");
font-display:swap;font-style:italic;font-weight:900;
}

@font-face {
font-family:"source-sans-pro-1";
src:url("https://use.typekit.net/af/ca3a3d/00000000000000003b9b3d5f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("woff2"),url("https://use.typekit.net/af/ca3a3d/00000000000000003b9b3d5f/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("woff"),url("https://use.typekit.net/af/ca3a3d/00000000000000003b9b3d5f/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("opentype");
font-display:swap;font-style:normal;font-weight:200;
}

@font-face {
font-family:"source-sans-pro-1";
src:url("https://use.typekit.net/af/2d1b09/00000000000000003b9b3d60/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3") format("woff2"),url("https://use.typekit.net/af/2d1b09/00000000000000003b9b3d60/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3") format("woff"),url("https://use.typekit.net/af/2d1b09/00000000000000003b9b3d60/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3") format("opentype");
font-display:swap;font-style:italic;font-weight:200;
}

@font-face {
font-family:"source-code-pro-1";
src:url("https://use.typekit.net/af/728817/0000000000000000000179d7/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/728817/0000000000000000000179d7/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/728817/0000000000000000000179d7/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("opentype");
font-display:swap;font-style:normal;font-weight:900;
}

@font-face {
font-family:"source-code-pro-1";
src:url("https://use.typekit.net/af/756772/0000000000000000000179d5/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/756772/0000000000000000000179d5/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/756772/0000000000000000000179d5/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:swap;font-style:normal;font-weight:700;
}

@font-face {
font-family:"source-code-pro-1";
src:url("https://use.typekit.net/af/aaae13/0000000000000000000179cb/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("woff2"),url("https://use.typekit.net/af/aaae13/0000000000000000000179cb/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("woff"),url("https://use.typekit.net/af/aaae13/0000000000000000000179cb/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("opentype");
font-display:swap;font-style:normal;font-weight:200;
}

@font-face {
font-family:"source-code-pro-1";
src:url("https://use.typekit.net/af/bdd45e/0000000000000000000179cd/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/bdd45e/0000000000000000000179cd/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/bdd45e/0000000000000000000179cd/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
font-display:swap;font-style:normal;font-weight:300;
}

@font-face {
font-family:"source-code-pro-1";
src:url("https://use.typekit.net/af/3c21b3/0000000000000000000179cf/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/3c21b3/0000000000000000000179cf/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/3c21b3/0000000000000000000179cf/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:swap;font-style:normal;font-weight:400;
}

@font-face {
font-family:"source-code-pro-1";
src:url("https://use.typekit.net/af/2f9b90/0000000000000000000179d3/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/2f9b90/0000000000000000000179d3/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/2f9b90/0000000000000000000179d3/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
font-display:swap;font-style:normal;font-weight:600;
}

@font-face {
font-family:"source-code-pro-1";
src:url("https://use.typekit.net/af/9d892f/0000000000000000000179d1/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/9d892f/0000000000000000000179d1/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/9d892f/0000000000000000000179d1/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
font-display:swap;font-style:normal;font-weight:500;
}

@font-face {
font-family:"source-code-pro-1";
src:url("https://use.typekit.net/af/cbf0bf/0000000000000000000179d8/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("woff2"),url("https://use.typekit.net/af/cbf0bf/0000000000000000000179d8/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("woff"),url("https://use.typekit.net/af/cbf0bf/0000000000000000000179d8/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("opentype");
font-display:swap;font-style:italic;font-weight:900;
}

@font-face {
font-family:"source-code-pro-1";
src:url("https://use.typekit.net/af/fb9aba/0000000000000000000179d6/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/fb9aba/0000000000000000000179d6/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/fb9aba/0000000000000000000179d6/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-display:swap;font-style:italic;font-weight:700;
}

@font-face {
font-family:"source-code-pro-1";
src:url("https://use.typekit.net/af/196eaa/0000000000000000000179cc/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3") format("woff2"),url("https://use.typekit.net/af/196eaa/0000000000000000000179cc/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3") format("woff"),url("https://use.typekit.net/af/196eaa/0000000000000000000179cc/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3") format("opentype");
font-display:swap;font-style:italic;font-weight:200;
}

@font-face {
font-family:"source-code-pro-1";
src:url("https://use.typekit.net/af/d090fb/0000000000000000000179d0/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/d090fb/0000000000000000000179d0/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/d090fb/0000000000000000000179d0/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-display:swap;font-style:italic;font-weight:400;
}

@font-face {
font-family:"source-code-pro-1";
src:url("https://use.typekit.net/af/45aea5/0000000000000000000179ce/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff2"),url("https://use.typekit.net/af/45aea5/0000000000000000000179ce/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff"),url("https://use.typekit.net/af/45aea5/0000000000000000000179ce/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("opentype");
font-display:swap;font-style:italic;font-weight:300;
}

@font-face {
font-family:"source-code-pro-1";
src:url("https://use.typekit.net/af/d7ff59/0000000000000000000179d2/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("woff2"),url("https://use.typekit.net/af/d7ff59/0000000000000000000179d2/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("woff"),url("https://use.typekit.net/af/d7ff59/0000000000000000000179d2/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("opentype");
font-display:swap;font-style:italic;font-weight:500;
}

@font-face {
font-family:"source-code-pro-1";
src:url("https://use.typekit.net/af/a660c9/0000000000000000000179d4/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff2"),url("https://use.typekit.net/af/a660c9/0000000000000000000179d4/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff"),url("https://use.typekit.net/af/a660c9/0000000000000000000179d4/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("opentype");
font-display:swap;font-style:italic;font-weight:600;
}

@font-face {
font-family:"source-serif-pro-1";
src:url("https://use.typekit.net/af/2164be/00000000000000003b9b3d80/27/l?primer=5792d67fc8ce7a61b1fad4b9dcca4df87888f8e27c82d0d40dc49553181fb47a&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/2164be/00000000000000003b9b3d80/27/d?primer=5792d67fc8ce7a61b1fad4b9dcca4df87888f8e27c82d0d40dc49553181fb47a&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/2164be/00000000000000003b9b3d80/27/a?primer=5792d67fc8ce7a61b1fad4b9dcca4df87888f8e27c82d0d40dc49553181fb47a&fvd=n4&v=3") format("opentype");
font-display:swap;font-style:normal;font-weight:400;
}

@font-face {
font-family:"source-serif-pro-1";
src:url("https://use.typekit.net/af/a128e3/00000000000000003b9b3d84/27/l?primer=5792d67fc8ce7a61b1fad4b9dcca4df87888f8e27c82d0d40dc49553181fb47a&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/a128e3/00000000000000003b9b3d84/27/d?primer=5792d67fc8ce7a61b1fad4b9dcca4df87888f8e27c82d0d40dc49553181fb47a&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/a128e3/00000000000000003b9b3d84/27/a?primer=5792d67fc8ce7a61b1fad4b9dcca4df87888f8e27c82d0d40dc49553181fb47a&fvd=n7&v=3") format("opentype");
font-display:swap;font-style:normal;font-weight:700;
}

@font-face {
font-family:"source-serif-pro-1";
src:url("https://use.typekit.net/af/8f063a/00000000000000003b9b3d82/27/l?primer=5792d67fc8ce7a61b1fad4b9dcca4df87888f8e27c82d0d40dc49553181fb47a&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/8f063a/00000000000000003b9b3d82/27/d?primer=5792d67fc8ce7a61b1fad4b9dcca4df87888f8e27c82d0d40dc49553181fb47a&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/8f063a/00000000000000003b9b3d82/27/a?primer=5792d67fc8ce7a61b1fad4b9dcca4df87888f8e27c82d0d40dc49553181fb47a&fvd=n6&v=3") format("opentype");
font-display:swap;font-style:normal;font-weight:600;
}

@font-face {
font-family:"source-serif-pro-1";
src:url("https://use.typekit.net/af/3c5ec3/00000000000000003b9b3d7c/27/l?primer=5792d67fc8ce7a61b1fad4b9dcca4df87888f8e27c82d0d40dc49553181fb47a&fvd=n2&v=3") format("woff2"),url("https://use.typekit.net/af/3c5ec3/00000000000000003b9b3d7c/27/d?primer=5792d67fc8ce7a61b1fad4b9dcca4df87888f8e27c82d0d40dc49553181fb47a&fvd=n2&v=3") format("woff"),url("https://use.typekit.net/af/3c5ec3/00000000000000003b9b3d7c/27/a?primer=5792d67fc8ce7a61b1fad4b9dcca4df87888f8e27c82d0d40dc49553181fb47a&fvd=n2&v=3") format("opentype");
font-display:swap;font-style:normal;font-weight:200;
}

@font-face {
font-family:"source-serif-pro-1";
src:url("https://use.typekit.net/af/acc5ea/00000000000000003b9b3d7e/27/l?primer=5792d67fc8ce7a61b1fad4b9dcca4df87888f8e27c82d0d40dc49553181fb47a&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/acc5ea/00000000000000003b9b3d7e/27/d?primer=5792d67fc8ce7a61b1fad4b9dcca4df87888f8e27c82d0d40dc49553181fb47a&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/acc5ea/00000000000000003b9b3d7e/27/a?primer=5792d67fc8ce7a61b1fad4b9dcca4df87888f8e27c82d0d40dc49553181fb47a&fvd=n3&v=3") format("opentype");
font-display:swap;font-style:normal;font-weight:300;
}

@font-face {
font-family:"source-serif-pro-1";
src:url("https://use.typekit.net/af/0549fb/00000000000000003b9b3d86/27/l?primer=5792d67fc8ce7a61b1fad4b9dcca4df87888f8e27c82d0d40dc49553181fb47a&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/0549fb/00000000000000003b9b3d86/27/d?primer=5792d67fc8ce7a61b1fad4b9dcca4df87888f8e27c82d0d40dc49553181fb47a&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/0549fb/00000000000000003b9b3d86/27/a?primer=5792d67fc8ce7a61b1fad4b9dcca4df87888f8e27c82d0d40dc49553181fb47a&fvd=n9&v=3") format("opentype");
font-display:swap;font-style:normal;font-weight:900;
}

@font-face {
font-family:"source-serif-pro-1";
src:url("https://use.typekit.net/af/4065a7/00000000000000003b9b3d7d/27/l?primer=5792d67fc8ce7a61b1fad4b9dcca4df87888f8e27c82d0d40dc49553181fb47a&fvd=i2&v=3") format("woff2"),url("https://use.typekit.net/af/4065a7/00000000000000003b9b3d7d/27/d?primer=5792d67fc8ce7a61b1fad4b9dcca4df87888f8e27c82d0d40dc49553181fb47a&fvd=i2&v=3") format("woff"),url("https://use.typekit.net/af/4065a7/00000000000000003b9b3d7d/27/a?primer=5792d67fc8ce7a61b1fad4b9dcca4df87888f8e27c82d0d40dc49553181fb47a&fvd=i2&v=3") format("opentype");
font-display:swap;font-style:italic;font-weight:200;
}

@font-face {
font-family:"source-serif-pro-1";
src:url("https://use.typekit.net/af/5a5c84/00000000000000003b9b3d7f/27/l?primer=5792d67fc8ce7a61b1fad4b9dcca4df87888f8e27c82d0d40dc49553181fb47a&fvd=i3&v=3") format("woff2"),url("https://use.typekit.net/af/5a5c84/00000000000000003b9b3d7f/27/d?primer=5792d67fc8ce7a61b1fad4b9dcca4df87888f8e27c82d0d40dc49553181fb47a&fvd=i3&v=3") format("woff"),url("https://use.typekit.net/af/5a5c84/00000000000000003b9b3d7f/27/a?primer=5792d67fc8ce7a61b1fad4b9dcca4df87888f8e27c82d0d40dc49553181fb47a&fvd=i3&v=3") format("opentype");
font-display:swap;font-style:italic;font-weight:300;
}

@font-face {
font-family:"source-serif-pro-1";
src:url("https://use.typekit.net/af/081616/00000000000000003b9b3d81/27/l?primer=5792d67fc8ce7a61b1fad4b9dcca4df87888f8e27c82d0d40dc49553181fb47a&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/081616/00000000000000003b9b3d81/27/d?primer=5792d67fc8ce7a61b1fad4b9dcca4df87888f8e27c82d0d40dc49553181fb47a&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/081616/00000000000000003b9b3d81/27/a?primer=5792d67fc8ce7a61b1fad4b9dcca4df87888f8e27c82d0d40dc49553181fb47a&fvd=i4&v=3") format("opentype");
font-display:swap;font-style:italic;font-weight:400;
}

@font-face {
font-family:"source-serif-pro-1";
src:url("https://use.typekit.net/af/636902/00000000000000003b9b3d83/27/l?primer=5792d67fc8ce7a61b1fad4b9dcca4df87888f8e27c82d0d40dc49553181fb47a&fvd=i6&v=3") format("woff2"),url("https://use.typekit.net/af/636902/00000000000000003b9b3d83/27/d?primer=5792d67fc8ce7a61b1fad4b9dcca4df87888f8e27c82d0d40dc49553181fb47a&fvd=i6&v=3") format("woff"),url("https://use.typekit.net/af/636902/00000000000000003b9b3d83/27/a?primer=5792d67fc8ce7a61b1fad4b9dcca4df87888f8e27c82d0d40dc49553181fb47a&fvd=i6&v=3") format("opentype");
font-display:swap;font-style:italic;font-weight:600;
}

@font-face {
font-family:"source-serif-pro-1";
src:url("https://use.typekit.net/af/ce953e/00000000000000003b9b3d85/27/l?primer=5792d67fc8ce7a61b1fad4b9dcca4df87888f8e27c82d0d40dc49553181fb47a&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/ce953e/00000000000000003b9b3d85/27/d?primer=5792d67fc8ce7a61b1fad4b9dcca4df87888f8e27c82d0d40dc49553181fb47a&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/ce953e/00000000000000003b9b3d85/27/a?primer=5792d67fc8ce7a61b1fad4b9dcca4df87888f8e27c82d0d40dc49553181fb47a&fvd=i7&v=3") format("opentype");
font-display:swap;font-style:italic;font-weight:700;
}

@font-face {
font-family:"source-serif-pro-1";
src:url("https://use.typekit.net/af/347254/00000000000000003b9b3d87/27/l?primer=5792d67fc8ce7a61b1fad4b9dcca4df87888f8e27c82d0d40dc49553181fb47a&fvd=i9&v=3") format("woff2"),url("https://use.typekit.net/af/347254/00000000000000003b9b3d87/27/d?primer=5792d67fc8ce7a61b1fad4b9dcca4df87888f8e27c82d0d40dc49553181fb47a&fvd=i9&v=3") format("woff"),url("https://use.typekit.net/af/347254/00000000000000003b9b3d87/27/a?primer=5792d67fc8ce7a61b1fad4b9dcca4df87888f8e27c82d0d40dc49553181fb47a&fvd=i9&v=3") format("opentype");
font-display:swap;font-style:italic;font-weight:900;
}

.tk-source-sans-pro { font-family: "source-sans-pro-1","source-sans-pro-2",sans-serif; }
.tk-source-code-pro { font-family: "source-code-pro-1","source-code-pro-2",monospace; }
.tk-source-serif-pro { font-family: "source-serif-pro-1","source-serif-pro-2",serif; }
