@charset "UTF-8";
/* 2018-09-11 16:04:34 */

html {
  --fontstack-serif: "Sitka Text", "Iowan Old Style", "Charter", "Nimbus Roman", "Georgia", serif;
  --fontstack-sans:  "Avenir Next", "Gill Sans", "Nimbus Sans",  "Calibri", sans-serif;
  --fontstack-mono:  "Consolas", "Menlo", "Courier", monospace;

  font-feature-settings: "kern", "liga", "clig", "pnum";
  text-rendering: optimizeLegibility;
}

/*  Font Stack
╭──╯
│   Windows:
│     Sitka is the default font for Reader Mode in Edge.
│     Sitka automatically supports [optical scaling], which can increase
│     legibility over a wide range of sizes display pixel densities. So
│     Sitka is my first choice.
│     BUT!
│     Sitka does not render on non-Microsoft browsers on Windows, and
│     is not available on other platforms (as of 2018-09-11).
│     BUT!
│     Microsoft distributes a variant of Sitka via their
│     [Microsoft Fluent Fonts] package, in order to
│     [enhance readability] for some forms of dyslexia.
│     This is a desktop-system font package distribution,
│     *not* a live web-font. And it destroys the layout in order
│     to aid those who have problem reading closely-spaced
│     characters.
│     BUT!
│     Microsoft has also published a [Variable Fonts Demo] as part of
│     their [Microsoft Edge Web Demonstrations] site. That demo serves
│     up a [web-font subset of Sitka], which seems to render on current
│     web browsers on the platforms I have tested (macOS, Fedora, Windows).
│
[Microsoft Fluent Fonts]:   https://www.microsoft.com/en-us/download/details.aspx?id=50721
[Variable Fonts Demo]:      https://developer.microsoft.com/en-us/microsoft-edge/testdrive/demos/variable-fonts/
[optical scaling]:          https://developer.microsoft.com/en-us/microsoft-edge/testdrive/demos/variable-fonts/#font-optical-sizing
[web-font subset of Sitka]: https://az813057.vo.msecnd.net/testdrive/var-fonts/fonts/Sitka.ttf
[enhance readability]:      https://medium.com/microsoft-design/science-in-the-system-transforming-pixels-into-fonts-aa3c048adf03
│
│
│   Other Options for Windows:
│     [Georgia]
│     I know. It may be hip to hate on Georgia for its ubiquity, but
│     Matthew Carter is a genius and Georgia is still a great font for
│     serif body text. There are some clumsy bits in there, a lack of
│     ligatures that irritate me a bit, but it can be a very effective
│     face for paragraphs. Which is a great bonus, as Georgia is of
│     course everywhere as one of the [Microsoft Core Web Fonts].
│
│     [Georgia Pro]
│     This is not a joke. Georgia Pro really is a welcome update to a
│     great font. Metrics are tweaked, standard OpenType extensions
│     like ligatures and alternate characters, more font weights like
│     thin, condensed, and extra-bold. A labor of love for Microsoft
│     Typography and Matthew Carter, available at no cost for personal
│     use on Windows from the Windows Store, and for crazy amounts of
│     money from its foundry, [Carter & Cone].
│
[Georgia]:                  https://en.wikipedia.org/wiki/Georgia_(typeface)
[Microsoft Core Web Fonts]: https://en.wikipedia.org/wiki/Core_fonts_for_the_Web
[Georgia Pro]:              https://georgiaverdana.com
[Carter & Cone]:            https://store.typenetwork.com/foundry/cartercone/fonts/georgia-pro
[Bitstream Charter]:        https://practicaltypography.com/charter.html
│
╰╮
 │
╭╯
│
│     Linux
*/
