[submodule "js/vendor/screenfull.js"]
	path = js/_available/screenfull.js
	url = https://github.com/sindresorhus/screenfull.js
[submodule "css/_scrapbook/normalize.css"]
	path = css/normalize.css
	url = https://github.com/necolas/normalize.css.git
[submodule "2018/10/2018-10-26/microprocessor-trend-data"]
	path = 2018/10/2018-10-26/microprocessor-trend-data
	url = https://github.com/karlrupp/microprocessor-trend-data.git
[submodule "2018/08/2018-08-23/tufte-css"]
	path = 2018/08/2018-08-23/tufte-css
	url = https://github.com/edwardtufte/tufte-css.git
