[submodule "2018/08/2018-08-23/tufte-css"]
	path = 2018/08/2018-08-23/tufte-css
	url = https://github.com/edwardtufte/tufte-css.git
[submodule "js/vendor/screenfull.js"]
	path = js/_available/screenfull.js
	url = https://github.com/sindresorhus/screenfull.js
