body>header {
  background-color: rgba(255, 228, 196, 0.356);
}

body>footer {
  background-color: rgba(255, 208, 196, 0.514);
}

body>main>article>header {
  background-color: rgba(217, 143, 252, 0.452);
}

body>main>article>header>time {
  background-color: rgba(143, 190, 252, 0.452);
}

body>main>article>header>h1 {
  background-color: rgba(252, 143, 143, 0.452);
}

body>main>article>header>ul {
  background-color: rgba(252, 208, 143, 0.452);
}

@media (min-width: 420px) {
  main {
    background-color: rgba(0, 255, 255, 0.185);
  }
  main>article>aside {
    background-color: #ddd;
    padding: 0;
  }
  main article figure {
    background-color: rgba(189, 183, 107, 0.253);
  }
}

@media (min-width: 760px) {
  main {
    background-color: rgba(0, 255, 106, 0.185);
  }
}
