@charset "UTF-8";
@media not print {
a.menu-item {
  color: inherit;
  text-decoration: none;
  opacity: 0;
}
.menu-item, .menu-open-button {
  z-index: 1;
  position: absolute;
  right: 0.5rem;
  top: 0.25rem;
  font-size: 1rem;
  transition: ease-out 200ms;
  opacity: 0.25;
}
.menu-item {
  margin-top: -0.3rem;
}
#menu-open {
  display: none
}
.menu {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  width: 10vmax;
  height: 10vmax;
  border-bottom-left-radius: 100%;
  -webkit-backdrop-filter: blur(6px);
  text-align: center;
  /* overflow: hidden; */
}
/* @supports not (-webkit-backdrop-filter: blur(1)) {
  .menu {
  background-color: rgba(255,255,255,0.7);
}
} */

.menu-open-button {
  z-index: 2;
  transform: scale(1, 1);
  cursor: pointer
}
@supports (hover:hover) {
.menu-open-button:hover {
  opacity: 1;
  transform: scale(1.2, 1.2)
}  
}
#menu-open:checked+.menu-open-button {
  opacity: 0.8;
  transform: scale(.8, .8)
}
#menu-open:checked~.menu-item {
  transition-timing-function: cubic-bezier(.165, .84, .44, 1);
  opacity: 1;
}
#menu-open:checked~.menu-item:nth-child(3) {
  color: green;
  transition-duration: 190ms;
  transform: translate3d(-20vw, 0, 0)
}
#menu-open:checked~.menu-item:nth-child(4) {
  color: blue;
  transition-duration: 290ms;
  transform: translate3d(-40vw, 0, 0)
}
#menu-open:checked~.menu-item:nth-child(5) {
  color: red;
  transition-duration: 390ms;
  transform: translate3d(-60vw, 0, 0)
}
#menu-open:checked~.menu-item:nth-child(6) {
  transition-duration: 490ms;
  transform: translate3d(-60vw, 0, 0);
}

}
/* media only screen */
