@charset "UTF-8";
main {
  background: linear-gradient(rgba(255,255,255,0) , rgba(255,255,255,255) 30%, rgba(255,255,255,255) 90%, rgba(255,255,255,0));
}
main article figure {
  background-color: rgba(249,249,249,170);
  border-radius: 6px;
}

main article figure img {
  background-color: rgba(255,255,255,221);
}
