@media (max-width: 760px) {
	
body main {
	width: 84%;
	padding-left: 8%;
	padding-right: 8%;
}

body main hr,
body main section > p,
body main section > footer,
body main section > table {
	width: 100%;
}

body main pre.code {
	width: 97%;
}

body main section > ol {
	width: 90%;
}

body main section > ul {
	width: 90%;
}

body main figure {
	max-width: 90%;
}

body main figcaption,
body main figure.fullwidth figcaption {
	margin-right: 0%;
	max-width: none;
}

body main blockquote {
	margin-left: 1.5em;
	margin-right: 0em;
}

body main blockquote p,
body main blockquote footer {
	width: 100%;
}

body main label.margin-toggle:not(.sidenote-number) {
	display: inline;
}

body main .sidenote,
body main .marginnote {
	display: none;
}

body main .margin-toggle:checked + .sidenote,
body main .margin-toggle:checked + .marginnote {
	display: block;
	float: left;
	left: 1rem;
	clear: both;
	width: 95%;
	margin: 1rem 2.5%;
	vertical-align: baseline;
	position: relative;
}

body main label {
	cursor: pointer;
}

body main div.table-wrapper,
body main table {
	width: 85%;
}

body main img {
	width: 100%;
}


}

