body > header * {
  margin: 0;
  filter: var(--glowing-link) opacity(0.7);
  color: #000a;
}
body > header > a:hover {
  filter: opacity(1);
}
#debug {
  float: right;
}

body > header > a > h1 span {
  display: inline;
  color: #0003;
  text-shadow: none;
  font-size: 0.6em;
  margin: -0.6em;
}
