@charset "utf-8";

@import url("/css/fonts.css");
@import url("tufte.css");
@import url("/css/bg-image.css");

:root {
    font-size: 18px;
    font-size: calc(0.8em + 0.60vw);

  line-height: calc(1.5em + 0.20vw);
}

html {
  --default-link: rgb(49, 49, 128);
  --visited-link: rgb(42, 17, 78);
  --glowing-link: drop-shadow(0 0 3px #fffe);
}


body {
  background-color: #ddd;

  font-family: var(--serif);

  margin: 0;
}

body > footer,
a,
figcaption {
    font-family: var(--sans);
}
body > footer {
  font-stretch: condensed;
  text-align: right;
}

h1  {margin-top: -0.2rem}

a {
  font-weight: 470;
  opacity: 1;
  color: var(--default-link);
  text-decoration-style: dotted;
  text-decoration-color: #ccc;
}

a:visited {
  color: var(--visited-link);
}

a:hover {
  text-shadow: 0 0 3px rebeccapurple;
}


main {
  background-color: #fffa;
  background: linear-gradient(#fff0, #ffff 30%, #ffff 90%, #fff0);
  counter-reset: sidenote-counter;
  margin:  0.8em;
  padding: 2vw;
}
main article figure img {
  /* background: #fffc; */
  box-shadow: #999 4px 4px 6px;
}
main article pre {
  background-color: #eee;
  border-radius: 6px;
  padding: 0.3em;
  overflow: auto;
  white-space: pre;
}

article {
  color: #444;
}

article > header time {
  font-size: 1.4em;
  font-weight: 300;
  font-variant: all-small-caps;
}

article	h1	{
  color: #777;
  font-size:	2.8em;
}

p:has(#a1) {
  display: flex;
  background-color: grey;
}

main figure img {width: 100%;}
figure.thumb > img { width: 13vw; }

main figcaption p {
  margin: 0;
}

figcaption summary {
  font-weight: 440;
  font-variant: all-small-caps;
  list-style-type: none;
  list-style-position: outside;
  color: #999;
}
figcaption summary::marker {
  color: #0006;
  font-size: 3.3mm;
  content: "#";
}
