@charset "utf-8";
@import url("/css/fonts.css");
@import url("/css/bg-image.css");


* {
  box-sizing: border-box;
}

main,
article,
footer {
  contain: content;
}


img {
  height: auto;
  width: auto;
  max-width: 100%;
}


html {
  --default-link: #337;
  --visited-link: #204;
  --glowing-link: drop-shadow(0 0 3px white);
  --contra-color: #622;
}

body {
  background-color: #ddd;
  margin: 0;
}

body>header * {
  filter: var(--glowing-link);
}

#site-nav {
  position: absolute;
  top: 6px;
  right: 6px;
  font-size: 1rem;
  text-align: right;
  z-index: 6;
  animation: 1s ease-out 0s 1 navAppear;
}

#site-nav>summary {
  cursor: pointer;
  color: var(--contra-color);
  font-size: 1.8rem;
}

details>summary::marker {
  display: none;
  content: "";
}

#site-nav a {
  display: list-item;
  list-style: none;
  color: var(--contra-color);
}

@media (pointer: coarse) {
  #site-nav {
    font-size: 1.3rem;
    right: 1rem;
  }
}
/* mozilla false-positive coarse pointer hack */
@-moz-document url-prefix() {
  #site-nav,
  #site-nav summary {
    background-color: inherit;
    font-size: inherit;
  }
}

body>header>h1 {
  font-size: 16vw;
  position: fixed;
  left: 6px;
  top: -1em;
  z-index: -4;
  color: rgba(255, 255, 255, 0.18);
}

body>footer {
  /* font-stretch: condensed; */
  font-weight: 300;
  text-align: right;
  padding: 0.8rem;
}

body>footer p {
  margin-top: 0;
}
#atrributionNote {
  font-size: 0.8em;
  font-stretch: condensed;
  line-height: initial;
  font-style: italic;
}

img#cc-by-sa {
  width: 120px;
}

body>footer>time {
  color: #555;
}

main {
  font-family: serif;
  font-family: var(--serif);
  background: linear-gradient(rgba(255, 255, 255, 0), white 200px, white 90%, rgba(255, 255, 255, 0));
  counter-reset: sidenote-counter;
  margin: 6px;
  padding: 2vw;

  overflow: hidden;
  position: relative;
  contain: content;
}

a,
figcaption {
  font-family: sans-serif;
  font-family: var(--sans);
}

a:visited {
  color: var(--visited-link);
}

a {
  font-weight: 420;
  opacity: 1;
  color: var(--default-link);
  text-decoration-style: dotted;
  text-decoration-color: #ccc;
}

article {
  color: #444;
}

article h1 {
  color: #666;
  font-size: 2.4em;
  margin-top: -0.3em;
}

article p {
  margin-top: 6px;
}
article > section:first-of-type > p:first-of-type {
  font-size: 1.2em;
  text-align: right;
  font-family: var(--sans);
    color: var( --contra-color);
}

article>header time {
  font-size: 1.2em;
  font-weight: 200;
  font-variant: all-small-caps;
}

article code,
article pre {
  background-color: rgba(204, 204, 204, 0.267);
  border-radius: 0.4em;
  padding: 0.1em 0.3em;
  overflow: auto;
  white-space: pre;
}

figure {
  font-size: 0.845em;
  margin: 6px;
  padding: 4px;
}

figure * {
  line-height: 1.2;
}

figure details p {
  margin-top: 4px;
  margin-bottom: 4px;
}

figure img {
  width: 100%;
  box-shadow: #999 4px 4px 9px;
}

figure.thumb>img {
  width: 13vw;
}

figcaption {
  font-weight: 340;
  padding: 0 .6em;
  line-height: 1.33;
}

summary::-webkit-details-marker {
  display: none;
}

figcaption summary {
  font-size: 0.92rem;
  font-weight: 480;
  font-variant: all-small-caps;
  color: #555;
  cursor: pointer;
  margin-bottom: 0.25em;
  text-decoration: #444 dotted underline;
}

details[open] summary {
  text-decoration: none;
}

details[open] summary~* {
  animation: sweep 0.5s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

span.newthought {
  font-variant: all-small-caps;
  font-size: 1.2em;
}

label.sidenote-number {
  display: inline;
}

@keyframes navAppear {
  0% {
      transform: scale(2);
  }
  100% {
      transform: scale(1);
  }
}
