@charset "utf-8";
@import url("/css/fonts.css");
@import url("tufte.css");
@import url("/css/bg-image.css");


html {
  --default-link: #337;
  --visited-link: #204;
  --glowing-link: drop-shadow(0 0 3px white);
  --contra-color: #622;
}

#logo {
  background-image: url("/img/svg/logos/watersb.svg");
  background-blend-mode: lighten;
  background-repeat: no-repeat;
  opacity: 0.1;
  width: 30vw;
  height: 30vw;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
}

body {
  background-color: #ddd;
  font-family: var(--serif);
  margin: 0;
}

body>header * {
  font-family: var(--sans);
  filter: var(--glowing-link);
}

body>header details {
  position: absolute;
  top: 6px;
  right: 6px;
  font-size: 1rem;
  text-align: right;
}

body>header details>summary {
  cursor: pointer;
}

body>header details>summary::marker {
  display: none;
  content: "";
}

body>header nav>a {
  display: list-item;
  color: var(--contra-color);
}

@media (pointer: coarse) {
  body>header details,
  body>header details summary {
    background-color: green;
    font-size: 1.8rem;

    /*
     firefox gives a false positive here
     and I have yet to understand how to
     structure the media query to work
     around that.
     
     and yet firefox *also* applies
     CSS Transforms to elements that are
     not positioned by the CSS Box Model.
     Which is also counter to the spec.

     so maybe we can use that to correct
     the weirdness. except that there is a
     firefox mobile app. crikey...
    */
    /* scale: 0.55555; */
  }
}

body>header>h1 {
  font-size: 16vw;
  position: fixed;
  left: 6px;
  top: -1em;
  z-index: -4;
  color: #fff;
  opacity: 18%;
}

body>footer {
  font-stretch: condensed;
  text-align: right;
  padding: 0.8rem;
}

body>footer p {
  margin-top: 0;
}

main {
  background-color: rgba(255, 255, 255, 0.667);
  background: linear-gradient(transparent, white 100px, white 90%, transparent);
  counter-reset: sidenote-counter;
  margin: 6px;
  padding: 2vw;
}

a,
body>footer,
figcaption {
  font-family: var(--sans);
}

a:visited {
  color: var(--visited-link);
}

a {
  font-weight: 420;
  opacity: 1;
  color: var(--default-link);
  text-decoration-style: dotted;
  text-decoration-color: #ccc;
}

article {
  color: #444;
}

article>* {
  box-sizing: border-box;
}

article h1 {
  color: #777;
  font-size: 2.8em;
}

article p {
  margin-top: 6px;
}

article>header time {
  font-size: 1.4em;
  font-weight: 300;
  font-variant: all-small-caps;
}

article code,
article pre {
  background-color: rgba(204, 204, 204, 0.267);
  border-radius: 0.4em;
  padding: 0.1em 0.3em;
  overflow: auto;
  white-space: pre;
}

figure {
  font-size: 0.845em;
  margin: 6px;
  padding: 4px;
}

figure * {
  line-height: 1.2;
}

figure details p {
  margin-top: 4px;
  margin-bottom: 4px;
}

figure img {
  width: 100%;
  box-shadow: #999 4px 4px 9px;
}

figure.thumb>img {
  width: 13vw;
}

figcaption {
  font-weight: 340;
  padding: 0 .6em;
  line-height: 1.33;
}

summary::-webkit-details-marker {
  display: none;
}

figcaption summary {
  font-size: 0.92rem;
  font-weight: 480;
  font-variant: all-small-caps;
  color: #555;
  cursor: pointer;
  margin-bottom: 0.25em;
  text-decoration: #444 dotted underline;
}

details[open] summary {
  text-decoration: none;
}

details[open] summary~* {
  animation: sweep 0.5s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

span.newthought {
  font-variant: all-small-caps;
  font-size: 1.2em;
}

label.sidenote-number {
  display: inline;
}
