@media (min-width: 440px) {

  article>p,
  article img {
    width: 60vw;
    text-align: justify;
  }

  .margin {
    width: 28vw;
    float: right;
    margin-top: -14em;
    margin-right: 1em;
    display: initial;
  }

  figcaption {
    max-width: 28vw;
  }
}

figcaption {
  margin: 0 1vw;
  max-width: 60vw;
}

figure {
  display: flex;
  align-items: flex-start;
  margin: 3em 0;
}

@media (max-width: 439px) {
  figure.thumb {
    display: flex;
    align-items: flex-start;
  }
}
