@media (min-width: 440px) {
  article > p,
  article > section > p {
    width: 60vw;
/* text-align: justify;
*/
  }

  .margin {
    width: 28vw;
    float: right;
    margin-top: -14em;
    margin-right: 1em;
    display: initial;
  }

  figure:not(.margin) figcaption {
    max-width: 33%;
    padding: 0 2ch;
  }

  figure:not(.margin) {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin: 3em 0;
  }

  figure img {
    margin: 0 0.6em;
  }
  figure figcaption details {
    /* I am running into weirdness on Windows
      if I don't set this font size. If I explicitly
      set it to one em, that's the same weird as
      leaving it out.
    */
    font-size: 0.99em;
  }
}

@media (max-width: 439px) {
  figure.thumb {
    display: flex;
    align-items: flex-start;
  }
  figure.thumb figcaption {
    width: 100%;
  }
  figure.thumb img {
    width: 64px;
    max-width: 40vw;
  }
}

@media (min-width: 680px) {
  article > p,
  article > section > p {
    text-align: initial;
  }
}
