article>* {
  box-sizing: border-box;
}

@media (min-width: 440px) {
  article>p {
    width: 60vw;
  }

  article>figure {
    width: 25vw;
    float: right;
  }

  article>figure.fullwidth {
    width: 88vw;
  }

  label.sidenote-number {
    display: inline;
  }
}
