<<<<<<< HEAD
@charset "utf-8";

@import url("/css/fonts.css");
@import url("/css/bg-image.css");

:root {
  font-size: 18px;
  font-size: calc(0.8em + 0.6vw);
  line-height: calc(1.5em + 0.2vw);
}

body {
  background-color: #ddd;
  font-family: var(--serif);
}

body > footer,
a,
figcaption {
  font-family: var(--sans);
}

a {
  color: rgb(49, 49, 128);
}


main > p {
  grid-column: 1;
  background-color: #eee8;
  border-radius: 6px;
  margin-top: 6px;
}

main > figure {
  font-size: 0.8em;
  font-weight: 340;
  margin: 6px;
  padding: 4px;
}

summary::-webkit-details-marker {
	display: none;
}
main > figure details summary {
  font-size: 1.1em;
  list-style-type: none;
  list-style-position: outside;
  font-variant: all-small-caps;
  font-weight: 500;
}
main > figure details p {
  margin-top: 4px;
  margin-bottom: 4px;
}
main > figure * {
  line-height: 1.2;
}
main > figure img {
  width: 8ch;
  padding-top: 0.4em;
}
main > figure > figcaption {
	padding: 0 0.6em;
}

@media (min-width: 640px) {
  main > figure > figcaption {
    grid-column: 2;
    grid-row: 1;
  }
}

@media (min-width: 440px) {
  main {
    display: grid;
    grid-template-columns: 65vw 1fr;
  }
  main > figure {
  align-items: start;
  	grid-row: span 2;
    column-gap: 1ch;
    display: grid;
    grid-template-columns: 1fr 16ch ;
  }
}

main > figure.fig-large {
  grid-template-columns: 65vw 1fr;
  grid-column: 1;
  grid-column-end: span 2;
  width: 92vw;
}

.fig-large img {
  width: 62vw;
=======
body {
    background-color: black;
    color: silver;
}

a {
    color: steelblue;
}

main {
    display: grid;
    grid-template-columns: 1fr 30ch;

}

main > p {
    grid-column: 1;
    background-color: #333;
    border-radius: 6px;
}


main > figure {
    grid-column: 2;
    grid-row: span 4;
}

main > figure > img {
    max-width: 20vw;
}
figure details summary {
    list-style-type: "°";
    list-style-position: outside;
>>>>>>> 411b26291bc349429499c4b5d9d451493a95b331
}

