body header  h1 {
    transition: 0.5s ease-in-out;
    background: url("/img/bg/vla.jpg") 0 0/100% auto no-repeat #eee;
	font-size:	30%;
	color:	transparent;
	-webkit-background-clip:	text;
	   -moz-background-clip:	text;
			background-clip:	text;
}
