/* 2018-08-21 20:45:02 */

body {
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 1cm;
    line-height: 1.15;
    background: linear-gradient(#fff0, #ffff);
}