
main article figure {
  background-color: #f9f9f9aa;
  border-radius: 6px;
}

main article figure img {
    width: 85vw;
    margin: 6px;
}



@media (min-width: 480px) {

  main article figure img {
    width: 25vw;
  }
  main article figure figcaption {
    max-width: 25vw;
  }

  main article figure {
    float: right;
    width: min-content;
    margin-left: 2vw;
    padding: 2vw;
  }
}
